@import '../style/base/Base.scss';
@import '../style/mixin/mixin.scss';
$AxiosPage:2;
div#AxiosComp {
	width:$WBox;
	height:$HBox * $AxiosPage;
	min-height:$HBox;
	@include FC(flex,column,center,center)
	div.AxiosCompBox {
		width:$WBox - $CompBoxSpace;
		height:auto;
		padding-top:$BoxPT;
		display:inline-flex;
		flex-direction:column;
		flex:1;
		div.Bread,div.AuthorInfo {
			width:$WBox;
			height:5vh;
			line-height: 5vh;

		}
		div.Bread {
			
			
		}
		div.AuthorInfo {
			i {
				padding-right:5px;
			}
		}
		div.AxiosTag {
			width:$WBox;
			height:10vh;
			display:inline-flex;
			align-items:center;
			span {
				margin-right:1vw;
			}
		}
	}
}