@import '../base/Base.scss';
@import '../mixin/mixin.scss';
div#BoxTwo {
  width:$WBox;
  height:$HBox;
  	h1.BigT {
		width:$WBox;
		height:25vh;
		font-size: 30px;
		font-weight: normal;
		color:#353535;
		@include FC(flex,column,center,center);
	}
	div#PicImgRow {
		height:75vh;
	}
}
