div.HomeInfo {
	width:50vw;
	height:50vh;
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	position: absolute;
	top:25vh;
	left:10vw;
	z-index:98;
	background:hsla(100,100,100,.1);
	li {
		height: 2em;
		line-height: 1.8em;
		font-weight: bold;
		font-size:1.2em; 
		font-weight: normal;
		color:white;
	}
	li:nth-child(1){ 
		height:10vh;
		font-size:1.5em;
		
		// background: -webkit-linear-gradient(hsla(178,50,12,1) 20%, hsla(178,80,5,1));
		// background: -o-linear-gradient(hsla(178,50,12,1) 20%, hsla(178,80,5,1));
		// background: linear-gradient(hsla(180,20,12,1) 20%, hsla(10,50,5,1));
		// -webkit-background-clip: text;
		// -o-background-clip: text;
		// -ms-background-clip: text;
		// -webkit-text-fill-color: transparent;
		// -o-text-fill-color: transparent;
		// -ms-text-fill-color: transparent;
	}
	li:nth-child(2){ font-size:1.2em; font-weight: bold;}
}