$NodeJSPage:3;
div#NodeJSComp {
	width:$WBox;
	height:$HBox * $NodeJSPage;
	min-height:$HBox;
	@include FC(flex,column,center,center)
	div.NodeJSCompBox {
		width:$WBox - $CompBoxSpace;
		height:$HBox * $NodeJSPage;
		padding-top:$BoxPT;
		display:inline-flex;
		flex-direction:column;
		flex:1;
		div.Bread,div.AuthorInfo {
			width:$WBox;
			height:5vh;
			line-height: 5vh;

		}
		div.Bread {
			
			
		}
		div.AuthorInfo {
			i {
				padding-right:5px;
			}
		}
		div.NodeJSTag {
			width:$WBox;
			height:10vh;
			display:inline-flex;
			align-items:center;
			span {
				margin-right:1vw;
			}
		}
	}
}