@import '../style/base/Base.scss';
@import '../style/mixin/mixin.scss';
// $SingInPage:3;
div#SingInComp {
	width:$WBox;
	height:$HBox;
	min-height:$HBox;
	background: #202020;
	@include FC(flex,column,center,center)
	div.SingInCompBox {
		width:26vw;
		height:60vh;
		display:inline-flex;
		flex-direction:column;
		align-items:center;
		background:#fff;
		border-radius:8px;
		span.FormIco {
			position: absolute;
			top:2px;
			left:0;
			width:22px;
			padding-left:8px;
			z-index:1;
			background: hsla(0,0,0,.05)
		}
		.el-form {
			width:18vw;
		}
	}
	div.SingInIco {
		padding-top: 3vh;
		padding-bottom: 3vh;
		@include FC(flex,column,center,center);
		.iconfont {
			font-size: 9em;
			color:#202020;
			position: relative;
			top:0;
			left:0;
		}
	}
	div.FormBut {
		margin-top: 3em;
	}
}