@import '../style/base/Base.scss';
div#SvgIco {
	width:$WBox;
	height:$HBox;
	overflow: hidden;
	@include FC(flex,column,center,center);
	div.IntroduceBox {
		width:$WBox;
		height:$HBox - 10vh;
		@include FC(flex,row,center,center);
		div.l { 
			width:30vw;
			height:inherit;
			// @include FC(flex,column,flex-start,center);
			p {
				
			}
			p.t1 {
				font-size: 4em;
				color:#FFF;
				transform: translate(10vw,23vh);
			}
			p.t2 {
				font-size: 2em;
				color:#FFF;
				transform: translate(10vw,18vh);
			}
			p.t3 {
				font-size: 1em;
				color:#FFF;
				transform: translate(10vw,18vh);
			}
			p.t4 {
				font-size: 1em;
				color:#FFF;
				transform: translate(10vw,18vh);
			}
		}
		div.r { 
			width:70vw;
			height:inherit;
			transform: translate(20vw,0);
			div.svgBox {
				width:65vw;
				height:90vh;
			}
		}
	}
	
	div.buttonBox {
		width:100vw;
		height:10vh;
		@include FC(flex,row,center,center);
		.backB {
			width:100px;
			background:none;
			border:1px solid hsla(220,50%,80%,.3);
			line-height: 10px;
			transition: all 0.3s ease-in;
			color:white;
			transition: all 0.5s ease-out;
		}
		.backB:hover {
			background: white;
			border:1px solid hsla(220,50%,100%,1);
			color: hsla(220,80%,50%,1);
			
		}
	}
}