@import '../mixin/mixin.scss';
$PIRWidth:100vw;
$PIRHeight:100vh;
$PIRPaddingVW:1vw;
$PIRPaddingVH:1vh;
$PIRPro:0.4;

div#PicImgRow {
  width:$PIRWidth;
  height:$PIRHeight;
  @include FC(flex,row,center,center);
  p.Blank {
    height:15vh;
  }
  .l,.r{    
    
    height:80vh;
    padding:15px;
  }
  .l {
    width:33vw;
    text-align: left;
    line-height:1.2em;
    h2 {
      height: 8vh;
      font-weight: normal;
      line-height: 1.5em;
    }
    // flex:0 1 1;
    ul {
      padding:0;
      margin:0;
      line-height: 3vh;
      li {
      }
    }
  }
  .r {
    width:45vw;
    text-align: right;
    width: ($PIRWidth - $PIRWidth * $PIRPro);
  }
  h2 {
    font-size: 2em;
  }
  .p1 {
    font-size:1.5em;
  }
}