$PIRWidth:85vw;
$PIRHeight:60vh;
$PIRPaddingVW:1vw;
$PIRPaddingVH:1vh;
$PIRPro:0.4;
@import '../mixin/mixin.scss';
div#PicImgRow {
  width:$PIRWidth;
  height:$PIRHeight;
  display:flex;
  justify-content:center;
  flex:1;
  .l,.r{    
    height:$PIRHeight;
    padding:$PIRPaddingVH $PIRPaddingVW $PIRPaddingVH $PIRPaddingVW;
  }
  .l {
    width:$PIRWidth * $PIRPro;
    text-align: left;
    line-height:1.2em;
    background:hsla(160,50,50,.3);
    h2 {
      height: 10vh;
      line-height: 1.5em;
    }
    p.TextThirth {
      height:3.5vh;
      line-height: 3.5vh;
      padding-left: 1em;
      background:hsla(0,0,0,.11);
    }
    // flex:0 1 1;
    ul.TextUL {
      padding:0;
      margin:0;
      li {
        text-align: left;
      }
    }
  }
  .r {
    // flex:0 1 3;
    display:inline-flex;
    justify-content:flex-end;
    align-items:center;
    text-align: right;
    width: ($PIRWidth - $PIRWidth * $PIRPro);
  }
  h2 {
    font-size: 2em;
  }
  .p1 {
    font-size:1.5em;
  }
}